*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body{
    overflow-x: hidden;
    height: 100%;
}

body{
    background: linear-gradient(to right, #101328 , #322657);
    font-family: sans-serif; 
    scrollbar-width: thin;
    scrollbar-color:#351796 rgb(47, 37, 82);
    color: white;
}

 ::-webkit-scrollbar{
    background: rgb(47, 37, 82);
    height: 7px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #351796;
    border-radius: 20px;
}

svg{
    width: 30px;
    fill: white;
}

.search-bar{
    height: max-content;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar input{
    background-color: transparent;
    font-size: 1rem;
    width: 250px;
    text-align: center;
    color: white;
}

.search-bar input:focus{
    font-size: 1rem;
    outline: none;
    border-bottom: 1.5px solid white;
}

.search-bar svg{
    width: 33px;
    fill: white;
    padding-right: 10px;
}

nav {
    background-color: #040517;
    padding-left: 20px;
    padding-top: 70px;
    font-weight: bold;
    height: 135%;
    position: absolute;
    color: white;
    overflow: auto;
    top: 0;
}

.profile{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    color: white;
}

.profile img{
    width: 120px;
    border-radius: 20px;
    margin-top: 40px;
}

.wrap-profile{
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0px 20px;
}

.wrap-profile p,svg{
    cursor: pointer;
}

.edit-profile{
    display: flex;
    flex-direction: row;
    font-size: 1.15rem;
    margin-top: 8px;
    opacity: 0.7;
}

.edit-profile:hover{
    opacity: 1;
}

.edit-profile svg{
    width: 25px;
    margin-left: 10px;
}

nav a{
    color: white;
}

nav ul{
    line-height: 50px;
}

nav svg{
    margin-right: 10px;
}

.options{
    height: 500px;
    margin-top: 10px;
}

hr{
    border: 2px solid #e5e5e5e7;
    width: 250px;
    margin: 30px 0 30px;
}

.close-menu{
    position: absolute;
    right: 30px;
    top: 40px;
    cursor: pointer;
    fill: white;
    width: 40px;
    height: 40px;
}

.open-menu{
    position: fixed;
    left: 20px;
    top: 135px; 
    background: rgb(32, 15, 86);
    border: 2px solid white;
    fill: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    z-index: 1;
}

.featured-playlists{
    margin: 30px 0px;
    text-align: center;
    color: white;
}

.gallery{
    display: flex;
    margin: 10px;
    overflow-x: scroll;
}

.gallery div{
    text-align: left;
    margin-bottom: 25px;
    margin: 15px 20px 25px;
}

.gallery img{
    width: 255px;
    height: 170px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.gallery p{
    opacity: 0.5;
}

.profile-views{
    text-align: center;
    color: white;
}

.singer-last-seen{
    display: grid;
    grid-template-columns: 30vw 30vw 50vw;
    color: white;
}

.singer-last-seen img{
    min-width: 80px;
    width: 9vw;
    max-width: 140px;
    border-radius: 10px;
}

.profiles-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 500px;
    height: 45vh;
}

.profile-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    min-height: 500px;
    height: 45vh;
    
}

.opaque{
    opacity: 0.5;
}

.artist-heard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
    height: 45vh;
    padding-right: 20px;
    opacity: 0.5;
    font-size: 0.8rem;
}

.tracks-scroll{
    padding-top: 70px;
    padding-left: 20px;
    overflow-x: scroll;
    color: white;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.tracks-scroll h2{
    text-align: center;
}

.tracks-content{
    display: flex;
    flex-direction: row;
    height: max-content;
    padding-top: 20px;
    margin: 0 10px;
}

.tracks-content div{
    height: 290px;
}

.tracks-content figure{
    margin: 0 20px 10px 0;
    width: 170px;
    height: 170px;
    background-size:cover;
    border-radius: 10px;
}

.album01{
    background-image: url(./assets/track1.jpg);
}

.album02{
    background-image: url(./assets/track2.jpg);
}

.album03{
    background-image: url(./assets/track3.jpg);
}

.album04{
    background-image: url(./assets/track4.jpg);
}

.album05{
    background-image: url(./assets/track5.jpg);
}

.album06{
    background-image: url(./assets/track6.jpg);
}

.album07{
    background-image: url(./assets/track7.jpg);
}

.tracks-content p{
   margin-top: 20px;
   font-size: 1.2rem;
}

.tracks-content p:last-child{
    opacity: 0.5;
}


@media (min-width: 375px) {
    h1, h2{
        font-size: 1.3em;
    }

    p{
        font-size: 1.1em;
    }

    .gallery img{
        width: 320px;
        height: 214px;
        transition: transform .2s;
    }
    
    .gallery img:hover{
        transform: scale(1.1);
    }
}

 @media (min-width: 400px) {
    .gallery img{
        width: 270px;
        height: 180px;
    }
}

@media (min-width: 768px) {
    h1, h2, h3{
        font-size: 1.5em;
    } 

    p{
        font-size: 1.3em;
    }

    .gallery img{
        width: 300px;
        height: 200px;
        opacity: 0.5;
    }
    
    .gallery img:hover{
        opacity: 1;
    }
}


@media (min-width: 1000px) {
    .open-menu{
        display: none;
    }

    .close-menu{
        display: none;
    }

    .search-bar{
        justify-content: start;
        margin-left: 50px;
    }

    h1{
        text-align: left;
        margin-left: 50px;
    }

    nav {
        display: block;
        position:unset;
        opacity: 1;
        width: 350px;
        height: 100%;
    }

    .gallery{
        width: 70%;
        margin-left: 30px;
    }

    .container{
        display:grid;
        grid-template-columns:auto auto;
        overflow: auto;
    }

    main{
        display: flex;
        flex-direction: row;
    }

    .profile-views{
        text-align: center;
        color: white;
    }
    
    .singer-last-seen{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 10px;
        color: white;
    }

    .artist-heard{
        align-items: end;
    }

    .profile-text{
        text-align: left;
        opacity: 0.5;
    }

    .tracks-scroll{
        margin-left: 100px;
        width: 700px;
    }

    .tracks-scroll h2{
        text-align: left;
    }

}

@media (min-width: 1024px) {
    h1, h2, h3{
        font-size: 1.5em;
    }

    p{
        font-size: 1.5em;
    }

    .gallery img{
        width: 400px;
        height: 267px;
    }

    
}
/*
@media (min-width: 1400px) {
    h1, h2, h3{
        font-size: 1.8em;
    }

    p{
        font-size: 1.8em;
    }

    .gallery img{
        width: 500px;
        height: 334px;
    }

    .gallery div{
        margin-right: 70px;
        margin-left: 70px;
    }
}

@media (min-width: 1900px) {
    h1, h2, h3{
        font-size: 1.9em;
    }

    p{
        font-size: 1.9em;
    }

    .gallery img{
        width: 550px;
        height: 367px;
    }

    .gallery div{
        margin-right: 100px;
        margin-left: 100px;
    }
} */